.AddCardModal {
  width: 100%;
  height: 100%;
  margin-bottom: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__button {
    &-submit {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__label {
    width: 204px;
  }

  &__loader {
    position: absolute;
    bottom: 30px;
    right: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
