.ColumnsWrapper {
  height: 100vh;
  margin: auto;
  padding: 40px;
  padding-left: 15%;
  padding-right: 15%;

  display: flex;
  justify-content: center;
  gap: 20px;

  border: 2px solid var(--black-disabled);
}
