@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/Roboto-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/Roboto-Medium.ttf') format('truetype');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/Roboto-Light.ttf') format('truetype');
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/Roboto-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Agbalumo';
  src: url('../../public/fonts/Agbalumo-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
}
