:root {
    --white: #fff;
    --black: #000;
    --column: #E6ECF0;
    --black-primary: #1D2D35;
    --black-disabled: #C4C4C4;
    --header-menu: #0013FE;
    --light-gray: #D9D9D9;

    // button colors
    --button-primary: #0013FE;
    --button-disabled: #E6ECF0;
    --button-round: #D5D5D5;
    --button-header: #76CC8E;

    // background flags
    --background-green: #76CC8E;
    --background-yellow: #FFA500;
    --background-red: #FF0000;

    // border radiuses
    --border-radius-s: 5px;
    --border-radius-m: 12px;

    // spacings
    --space-xxxxs: 2px;
    --space-xxxs: 4px;
    --space-xxs: 8px;
    --space-xs: 12px;
    --space-s: 16px;
    --space-m: 20px;
    --space-l: 24px;
    --space-xl: 30px;
    --space-xxl: 32px;
    --space-xxxl: 38px;
    --space-xxxxl: 48px;
}