@import "./fonts", "./variables";

body {
    font-family: Roboto, sans-serif !important;
    color: #000;
    background-color: #fff;
    height: 100vh;
    overflow: hidden;

    a {
        text-decoration: none;
    }
}