.Button {
  border-radius: var(--border-radius-s);
  background-color: var(--button-primary);
  color: var(--white);

  &-primary {
    width: 103px;
    height: 40px;
  }

  &-add {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    background-color: var(--button-round);
    color: var(--black-primary);
  }

  &-header {
    padding: 0px 10px;
    width: auto;
    height: 40px;

    background-color: var(--button-header);
  }

  &-new-member {
    padding: 0px 10px;
    width: auto;
    height: 40px;

    color: var(--button-primary);
    font-weight: 500;
    font-size: 14px;
    background-color: var(--button-disabled);
  }
}
