.Column {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  box-sizing: border-box;

  background-color: var(--column);
  border-radius: 5px;

  &__header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // TODO заменить выравнивание по вертикали
    &_text {
      font-size: 15px;
      font-weight: 700;
      margin-top: 5px;
    }

    &_quantity-wrapper {
      position: relative;
      width: 30px;
      height: 30px;
      margin-left: 15px;
      border-radius: 50%;

      background-color: var(--button-round);
    }

    &_quantity {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

    &_btn-add {
      margin-left: auto;
    }
  }

  &__cards {
    height: calc(100vh - 284px);
    overflow-y: auto;
  }
}
