.IssueInfo {
  background-color: var(--issue-info);
  padding: 18px;

  &__blocks {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__header {
    display: flex;
    gap: 16px;

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
    }

    &-title {
      color: var(--text-gray);
      font-size: 20px;
      font-weight: 700;
    }

    &-history {
      color: var(--text-gray);
    }
  }

  &__mainInfo {
    display: flex;
    column-gap: 300px;
    row-gap: var(--space-xxs);
    flex-flow: row wrap;
  }

  &__infoBlock {
    display: flex;
    gap: 50px;

    &-key {
      width: 75px;
    }

    &-element {
      height: 26px;
      padding-top: 4px;
    }
  }

  &__horizontalLine {
    background-color: var(--horizontal-line);
    height: 2px;
  }
}

.bold-title {
  font-weight: 500;
}

.blue-text {
  color: var(--text-auth);
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);
}
