.Card {
  padding: 10px;
  margin: 10px 0px;
  background-color: var(--white);
  border-radius: var(--border-radius-s);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  user-select: none;

  &__header {
    color: var(--black-primary);
    font-size: 15px;
    font-weight: 500;
  }

  &__description {
    color: var(--black-primary);
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    box-orient: vertical;
  }

  &__line {
    margin-top: 10px;
    border-bottom: 1px solid var(--column);
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    &_documentsWrapper {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &_documentsCount {
      font-weight: 700;
      color: var(--black-primary);
    }
  }

  &__bottom-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &_time_wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &_time_date {
    color: var(--black-primary);
    font-size: 15px;
    font-weight: 500;
  }
}
