.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background: rgba(0, 0, 0, 0.3);
}

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: inherit;
  transform: translate(-50%, -50%);
  z-index: 700;
  outline: 0;

  &__container {
    position: relative;
    margin: auto;
    padding: 20px;
    z-index: 100;
    background-color: var(--white);
    border-radius: 5px;
  }

  &__button {
    &_close {
      position: absolute;
      top: 0;
      right: 0;
      padding-top: 20px;
      padding-right: 20px;
    }
  }

  &__header {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    &-text {
      color: var(--black-primary);
      font-weight: 700;
      font-size: 15px;
    }
  }

  &__content {
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 50px;
  }
}
