.InputFile {
  width: 400px;
  min-width: 16%;
  height: 40px;
  padding: 0px 20px;
  border-radius: var(--border-radius-s);
  border: 1px solid var(--light-gray);

  &::placeholder {
    color: var(--light-gray);
  }
}
