.AddCommentModal {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__button {
    &-submit {
      display: flex;
      justify-content: center;
    }
  }
}
