name: Workflow для main ветки

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to Docker Hub
        run: docker login -u "andyshintar637" -p "${{ secrets.DOCKERHUB_TOKEN }}" docker.io
      - name: Build the Docker image
        run: docker build . -t andyshintar637/frontend:$(git rev-parse --short "$GITHUB_SHA")
      - name: Push the Docker image
        run: docker push andyshintar637/frontend:$(git rev-parse --short "$GITHUB_SHA")
